@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Zilla+Slab+Highlight&display=swap');
body{
    background-color: black;
    color:lightslategrey ;
    position: relative;
}
.webdev{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: white;
}
.akronim{
    font-family: 'Akronim', cursive!important;
    font-size: 72px;
}
.project{
    max-height: 500px;
    overflow: hidden;
}
.mail img:hover{
    transition: all .1s ease-in-out;
    transform: scale(.9);
}
.toast{
    max-width: 280px;
}
.gray{
    background-color: rgb(19, 19, 19);
    font-family: 'Exo', sans-serif;
}
.orange{
    background-color: #F39200!important;
}
.text-orange{
    color: #F39200!important;
}
.btn-warning {
    background-color: #F39200!important;
}
.bg-warning{
    background-color: #F39200!important;
}
.text-warning{
    color: #F39200!important;
}
.logo {
    position: absolute;
    z-index: 999;
}
.border-radius{
    border-radius: 35px;
}
.big-diagonal {
    height: 320px;
    position: absolute;
    width: 1500px;
    left: -835px;
    top: 100px;
    background-color: #000000;
    border: 1px solid #F39200;
    border-top-style:dashed;
    transform: skewY(-45deg);
}
.second-diagonal{
    height: 100px;
    position: absolute;
    width: 1500px;
    left: -850px;
    background-color: #000000;
    border: 1px solid #F39200;
    border-bottom-style:dashed;
    transform: skewY(-45deg);
}

.main-header{
    min-height: 150px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.main-header h1{
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: white;
}
h3{
    font-family: 'Raleway', sans-serif;
    font-family: 'Zilla Slab Highlight', cursive;
    font-size: 50px;
    color: white;
}
.header-left {
    min-height: 150px;
    position: absolute;
    width: 50%;
    left: 0px;
    z-index: -1;
}
.margin-up-big{
    margin-top: 180px!important;
}
.rounded-big{
    border-radius: 15px;
}
.text-gray{
    color:lightslategrey ;
}

.hello-world {
    position: absolute;
    bottom: -7px;
    right: -3px;
    width: 14ch;
    animation: typing 2s steps(14), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    color: black;
    font-family: monospace;
    font-weight: bold;
    font-size: 18px;
}

@keyframes typing {
    from {
        width: 0
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent
    }
}
/*CUSTOM SCROLLBAR*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(0, 0, 0); 
    border-radius: 10px;
    background-color: rgb(17, 17, 17);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #F39200!important; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 115, 0); 
  }
  /*ANIMATE*/
 
    .circles{
        position: absolute;
        bottom: 423px;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: -1;
    }

    .circles li{
        position: absolute;
        display: block;
        list-style: none;
        width: 20px;
        height: 20px;
        background: rgb(19, 19, 19);
        animation: animate 25s linear infinite;
        bottom: -150px;
        
    }

    .circles li:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
    }


    .circles li:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }

    .circles li:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
    }

    .circles li:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
    }

    .circles li:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
    }

    .circles li:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }

    .circles li:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }

    .circles li:nth-child(8){
        left: 50%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }

    .circles li:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }

    .circles li:nth-child(10){
        left: 85%;
        width: 150px;
        height: 150px;
        animation-delay: 0s;
        animation-duration: 11s;
    }



    @keyframes animate {

        0%{
            transform: translateY(0) rotate(0deg);
            opacity: 1;
            border-radius: 0;
        }

        100%{
            transform: translateY(-1000px) rotate(720deg);
            opacity: 0;
            border-radius: 50%;
        }

    }

    /*RESPOSIVE*/
    @media (max-width: 991.98px) { 
        .title{
            padding-left: 25px;
            padding-bottom: 3px;
        }
        .logo img{
            width: 133px!important;
        }
        .main-header{
            min-height: 90px!important;
        }
        .header-left {
            min-height: 90px!important;
            
        }
        .toast{
            max-width: 100%!important;
        }
        .main-header h1 {
            font-size: 30px;
        }
        .logo{
            background-color: black;
        }
    }